* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.content-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(12, 12, 12);
}

.header {
    background-image: url(pictures/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-family: 'Montserrat',  sans-serif;
    color: rgb(240, 248, 255);
    height: 35vh;
    margin: 0;
}

.manufacturers__header {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin: 20px;
}

.go-top-btn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: rgb(255, 255, 255);
    border-radius: 25%;
    opacity: 0.6;
}

.go-top-btn:hover {
    opacity: 0.9;
}

.arrow-up--active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-top-btn__arrow {
    width: 70%;
    height: 70%;
}

.manufacturers {
    margin-bottom: 40px;
}

.menu ul {
    list-style: none;
    margin: auto;
}
.menu__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    cursor: pointer;
    transition: background 0.25s;
}

.menu__item:hover {
    transform: scale(1.2);
    background:rgb(246, 247, 248);
    border-radius: 5px;
}

.active {
    transform: scale(1.2);
    background:rgb(239, 242, 247);
    border-radius: 5px;
}

.menu__image {
    max-width: 100%;
    max-height: 100%;
}

.menu__image--size {
    scale: 0.6;
}

.intro__info {
    margin-top: 10px;
}

.intro__image,
.car__content-image {
    max-width: 100% ;
    margin-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    border-top: 1px solid rgb(128, 128, 128);
    box-shadow: -1px -5px 15px rgb(183, 190, 187);
}

.kottans{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kottans__text {
    color: #040404;
    font-size: 14px;
    margin-right: 10px;
}

.kottans__img {
    max-width: 30px;
}

.car__header {
    text-transform:uppercase;
}

.car__content {
    display: none;
}

.disabled {
    display: none;
}

@media (max-width: 1200px) {
.header {
    background-position: left center;
}

.header__title{
    font-size: 54px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 40px;
    width: 800px;
}

@media (max-width: 920px) {
    .header__title {
        font-size: 42px;
    }

    .intro__title {
        font-size: 22px;
    }
}
    
@media (max-width: 768px) {
    .header__title {
        font-size: 36px;
    }

    .intro__title, .car__header {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .header__title {
        font-size: 32px;
        height: 25vh;
    }

    .manufacturers__header {
        font-size: 22px;
    }

    .menu__item {
        width: 120px;
        height: 120px;
    }

}

@media (max-width: 520px) {
    .header__title {
        font-size: 26px;
    }

    .manufacturers__header {
        font-size: 20px;
    }
}

@media (max-width: 430px) {
    .header__title {
        font-size: 20px;
    }

    .manufacturers__header {
        font-size: 16px;
    }

    .intro__title, .car__header {
        font-size: 16px;
    }

    body {
        font-size: 15px;
    }
}
}