* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

body {
    background-color: #cfeb6b;
    height: 100vh;
    width: 100vw;
}

button {
    cursor: pointer;
}

.start-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.wrapper {
    width: 600px;
    padding: 15px 10px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
}

.stats{
    display: flex;
    justify-content: space-around;
}


.hidden {
    display: none;
}

.game-field {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.card {
    position: relative;
    perspective: 1000px; /* test */
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.card-front {
    text-align: center;
    background: #ffffff;
    transform: rotateY(180deg);
    left: 0;
}

.card-back {
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #2b2d3d;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    line-height: 120px;
    transition: transform .5s ease;
    backface-visibility: hidden;
    user-select: none;
}

.card-flipped .card-back {
    transform: rotateY(180deg);
  }

.card-flipped .card-front {
    transform: rotateY(0deg);
  }

.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-12px);
    }
    40% {
        transform: translateX(12px);
    }
    60% {
        transform: translateX(-6px);
    }
    80% {
        transform: translateX(6px);
    }
}